    @import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
    .fullheight {
        height: 100vh;
    }
    
    .align-times-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .img-fixed {
        background-attachment: fixed;
    }
    
    .section {
        padding: 120px 0;
    }
    
    .container {
        width: 50%;
        max-width: 1366px;
        margin: 10 auto;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .slogan {
        text-align: center;
        padding-top: 100px;
        padding-left: 100px;
    }
    
    .slogan h1 {
        color: #fff;
        font-family: 'Kanit', sans-serif;
        font-size: 24px;
    }
    
    .box {
        float: center;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.034), 0 7px 6px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        width: 300px;
        height: 400px;
        margin-top: 120px;
        margin-left: 130px;
        background: white;
        border-radius: 5px;
    }
    
    .box h2 {
        font-size: 20px;
        background: #38BBEE;
        color: white;
        font-family: 'Prompt', sans-serif;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
    }
    
    p {
        padding-left: 15px;
    }
    
    .container .box button {
        font-family: 'Prompt', sans-serif;
        font-size: 18px;
        width: 120px;
        background-color: #38BBEE;
    }
    
    input[type=date] {
        margin-left: 25px;
    }