.footer {
    margin-left: 25px;
    font-size: 15.5px;
    color: #aaaaaa;
    font-family: 'Prompt', sans-serif;
}

b {
    font-size: 15px;
    color: black;
}

.b2 {
    color: #0056b3;
    padding-bottom: 25px;
}

.has3 {
    font-size: 22px;
    color: #949ba1;
}

.has4 {
    font-size: 22px;
    text-align: right;
    padding-right: 410px;
}