* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background: #005eca;
    height: 80px;
    width: 100%;
    box-shadow: 0px 1px 20px;
}

label.logo {
    color: white;
    font-size: 28px;
    line-height: 80px;
    padding: 0 90px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover {
    color: yellow;
    transition: .5s;
}

.checkbtn {
    font-size: 26px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1024px) {
    label.logo {
        font-size: 24px;
        padding-left: 20px;
        color: white;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .checkbtn {
        display: block;
        color: white;
    }
    nav {
        background: #005eca;
        height: 80px;
        width: 100%;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: right;
        padding-right: 2%;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a {
        font-size: 20px;
        color: rgb(141, 141, 141);
    }
    a:hover {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: -60%;
    }
}